*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Unit test / coverage reports
.coverage
cover
.tox
.testrepository
.stestr

# Sphinx
doc/build

# pbr generates these
AUTHORS
ChangeLog

# Files created by releasenotes build
releasenotes/build
